.body {
    font-family: 'Roboto', sans-serif;
    color: var(#2E2F42);
    background-color: var(#FFFFFF);

}

.header {}

.header-navigation {}

.header-link-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.header-link-title:hover {}

.colortext {
    color: #4D5AE5;
}

.colortitle {
    color: #2E2F42;
}

.header-list {
    list-style: none;
}

.header-item {}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}



.header-address {
    list-style: none
}

.header-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-tel {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.link {
    text-decoration: none;
}

.main {}

.section-about {
    background-color: #2E2F42;
}

.section-about-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.section-about-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
}

.btn-text {}

.section-services {}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-services-list {
    list-style: normal;
}

.section-services-item {
    text-decoration: none;
}

.section-services-subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-services-text {
    width: 264px;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-future {}

.section-future-caption {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}

.section-future-list {}

.section-future-item {
    list-style: none;
}

.section-contact {
    background-color: #F4F4FD;
}

.section-contact-caption {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-contact-list {}

.section-contact-item {}

.section-contact-subtitle {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-contact-desc {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer-link {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    align-items: center;
    letter-spacing: 0.03em;
    text-decoration: none;
}


.footer-subtitle {}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.btn {
    font-family: 'Roboto';
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background: #F4F4FD;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
}

.btn:hover {
    color: #404BBF;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

.potfolio-item {
    list-style: none;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}